@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

$color-fondo: black;
$color-fuente: rgb(255, 17, 119);
$fuente: "Montserrat";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



html {
    font-family: $fuente;
    background-color: $color-fondo;
    color: $color-fuente;
}

