nav {
    font-weight: bold;
    background-color: #242424;
    border: 6px dotted #7B59A4;
    border-radius: 40px 40px 40px 40px;
    float: left;
    width: 100%; 
    margin: 10px;
    .menu {
        display: flex;
        list-style: none;
        overflow: hidden;
        align-items: center;
        justify-content: space-around;
        li {
            float: left;
            font-size: 20px;
            &:hover{
                background: orange;
                border-radius: 40px 40px 40px 40px;
            }
            &:last-child{
                border-right: none;
            }            
            a{
                outline: none;
                text-decoration: none;
                display: block;
                padding: 10px;
                text-align:justify;
                line-height: 3;
                color:rgb(255, 17, 119);
                align-content: center;
            }
        }
    }
}

@media (min-width: 375px) and (max-width: 420px) {
    nav .menu{
        display: none;
    }

    input:checked ~ ul{
        display: block;
    }

    nav input{
        display: none;
        visibility: hidden;
    }

    .icono-b{
        box-sizing: border-box;
        display: inline-block;
        border: 1px solid black;
        border-radius: 5px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-weight: bold;
        text-align: center;
        user-select: none;
    }

    menu .li{
        display: block;
        background: lightgrey;
        margin: 0;
        padding: 10px;
        list-style: none;
        border-bottom: 1px solid grey;
    }
}