nav {
    font-weight: bold;
    background-color: #242424;
    border: 6px dotted #7B59A4;
    border-radius: 40px 40px 40px 40px;
    float: left;
    width: 70%; 
    margin: 10px;
    .container {
        display: flex;
        list-style: none;
        overflow: hidden;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        a img {
            width: 40px;
            height: 40px;
        }
        li {
            float: left;
            font-size: 20px;
            &:hover{
                background: orange;
                border-radius: 40px 40px 40px 40px;
            }
            &:last-child{
                border-right: none;
            }            
            a{
                outline: none;
                text-decoration: none;
                display: block;
                padding: 10px;
                text-align:justify;
                line-height: 3;
                align-content: center;
            }
        }
        li.nav-item{
            a{
                color:rgb(255, 17, 119);
            }
        }
    }
}
