.contenedor-pelicula{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    .caja-pelicula{
        width: 800px;
        height: 500px;
        margin: 20px;
        padding: 10px;
        text-align: center;
        overflow: hidden;
        img{
            object-fit: cover;
            width: 80%;
            height: 60%;
            object-fit: contain;
            animation: myAnim 2s ease 0s 1 normal forwards;
            @keyframes myAnim {
                0%,
                100% {
                    transform: translateX(0%);
                    transform-origin: 50% 50%;
                }
            
                15% {
                    transform: translateX(-30px) rotate(6deg);
                }
            
                30% {
                    transform: translateX(15px) rotate(-6deg);
                }
            
                45% {
                    transform: translateX(-15px) rotate(3.6deg);
                }
            
                60% {
                    transform: translateX(9px) rotate(-2.4deg);
                }
            
                75% {
                    transform: translateX(-6px) rotate(1.2deg);
                }
            }
        }
    }
}

.contenedor-pelicula{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    .caja-pelicula{
        width: 800px;
        height: 500px;
        margin: 20px;
        padding: 10px;
        text-align: center;
        overflow: hidden;
        img{
            object-fit: cover;
            width: 80%;
            height: 60%;
            object-fit: contain;
        }
    }
}

@media (min-width: 375px) and (max-width: 420px){
    .contenedor/cat{
        display: block;
    }
}